---
import type { CollectionEntry } from 'astro:content';

import { Image } from 'astro:assets';

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

{
  project.data.map((proj) => (
    <>
      <article class='rounded-2xl shadow-md hover:shadow-lg hover:shadow-[#94849b] shadow-zinc-600 py-1 transition-all ease-out duration-500'>
        <a href={`/blog/${proj.header.replace(' ', '-')}`}>
          <Image
            src={proj.image}
            alt={proj.header}
            width={1024}
            height={1024 / 2}
            class='rounded-t-2xl shadow-xl mb-6 aspect-thumbnail object-cover bg-black/30'
          />
        </a>
        <a
          href={`/blog/${proj.header.replace(' ', '-')}`}
          class='text-3xl text-cyan-400 mb-2 inline-block px-4'
        >
          {proj.header}
        </a>
        <p class='text-[#f2efea] text-lg mb-6 line-clamp-3 px-4'>
          {proj.description}
        </p>
        <div class='px-4 flex items-center justify-between'>
          <a
            href={proj.website}
            target='_blank'
            rel='noopener noreferrer'
            class='p-2 border-[#07b6D5] border-[2px] rounded-2xl text-[#fdfff7] hover:scale-105 transition-all ease-out duration-500'
          >
            <button>Live version</button>
          </a>
          <a
            href={proj.repo}
            class='p-2 border-[#07b6D5] border-[2px] rounded-2xl text-[#fdfff7] hover:scale-105 transition-all ease-out duration-500'
            target='_blank'
            rel='noopener noreferrer'
          >
            <button>Repository</button>
          </a>
        </div>
        <div class='flex items-center justify-center gap-x-4 flex-wrap mb-6 mt-4'>
          {proj.skills.map((skill) => (
            <button class='text-[#f2efea] cursor-default font-bold'>
              {skill}
            </button>
          ))}
        </div>
      </article>
      <hr class='w-full h-[1px] bg-[#07b6D5] border-none' />
    </>
  ))
}
